.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/MockRequest/config/applicationhost.config
.vs/MockRequest/FileContentIndex/bf0d78b1-6d09-4bda-93f9-ed13936940bd.vsidx
.vs/MockRequest/v17/.wsuo
.vs/MockRequest/v17/DocumentLayout.json
